:root {

	.has-white-background-color {
		background-color: var(--color-white);
	}

	.has-light-grey-background-color {
		background-color: var(--color-light-grey);
	}

	.has-black-background-color {
		background-color: var(--color-black);
	}

	.has-red-background-color {
		background-color: var(--color-red);
	}

	.has-green-background-color {
		background-color: var(--color-green);
	}

	.has-navy-background-color {
		background-color: var(--color-navy);
	}

	.has-slate-background-color {
		background-color: var(--color-slate);
	}

	.has-white-color {
		color: var(--color-white);
	}

	.has-light-grey-color {
		color: var(--color-light-grey);
	}

	.has-black-color {
		color: var(--color-black);
	}

	.has-red-color {
		color: var(--color-red);
	}

	.has-green-color {
		color: var(--color-green);
	}

	.has-navy-color {
		color: var(--color-navy);
	}

	.has-slate-color {
		color: var(--color-slate);
	}

	.has-white-color,
	.has-light-grey-color,
	.has-black-color,
	.has-red-color,
	.has-green-color,
	.has-navy-color,
	.has-slate-color {

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: currentColor;
		}
	}
}
