
//-- General forms
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	@include box-sizing( border-box );

	&:focus {
		color: $body-text;
		border-color: $body-text;
		outline: none;
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button;
	@include font-size( 14 );
	line-height: 1;
	text-transform: lowercase;
}
