//-- Search form (header)
.main-navigation .search-form {
	float: right;
	display: inline-block;
	margin: 30px 0;

	.search-field {
		padding: 5px 5px 5px 10px;
		@include font-size( 14 );
		color: var(--color-white);
		background-color: darken($navigation-bg, 7%);
		border-color: transparent;

		&:focus {
			color: var(--color-white);
			border-color: $body-text;
		}
	}

	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		color: $placeholder-text;
		text-transform: lowercase;
	}

	input:-moz-placeholder,
	textarea:-moz-placeholder {
		color: $placeholder-text;
		text-transform: lowercase;
	}

	.search-submit {
		display: none;
	}
}

//-- Search form (no results page)
.page-content .search-form {

	.search-field {
		width: 70%;
		padding: 10px;
	}

	@media screen and (max-width: 550px) {
		text-align: center;

		.search-field {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}


//-- Post Password form
.post-password-form {

	label {
		line-height: 40px;
		color: $body-text;
		font-weight: normal;
	}

	input[type="password"] {
		padding: 7px 3px 10px;
	}
}

@media screen and (max-width: 550px) {

	.post-password-form {

		label {
			display: block;
			margin-bottom: 10px;
		}

		input[type="password"],
		input[type="submit"] {
			width: 100%;
			@include font-size( 16 );
		}
	}
}

//-- Jetpack Subscription form
#subscribe-email input {
	padding: 10px;
}
