/* Read More */
.read-more {
	display: block;
	margin: 30px 0 0;
	text-align: center;
	color: $secondary-text;

	&:hover,
	&:active,
	&:focus {
		color: darken($secondary-text, 20%);
	}

	&:before {
		content: "\2022\20\2022\20\2022\20";
	}

	&:after {
		content: "\20\2022\20\2022\20\2022";
	}

	.screen-reader-text {
		overflow: hidden;
		height: 1px;
		width: 1px;
	}
}
