/* =Widgets
----------------------------------------------- */

#comments + #secondary,
#content + #secondary {
	margin-top: $vspacing;
}

.widget {
	margin: 0 0 $vspacing;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search {

	.search-field {
		padding: 3px 30px;
		line-height: 40px;
		width: 100%;
	}

	.search-submit {
		display: none;
	}
}

.widget_calendar {
	$calendar-color: $link-text;

	#wp-calendar {
		max-width: 300px;
	}

	caption,
	th,
	td {
		padding: 5px;
		text-align: center;
	}

	caption {
		padding: 0 5px 5px;
		font-family: $header-font;
		font-weight: bold;
		@include font-size( 20 );
	}

	th {
		color: var(--color-white);
		background: desaturate(lighten($calendar-color, 20%), 10%);
	}

	td {
		@include font-size( 16 );
	}

	tfoot td {
		text-transform: uppercase;
		@include font-size( 14 );
		background: desaturate(lighten($calendar-color, 45%), 15%);
	}
}
