/* =Comments
----------------------------------------------- */
.comments-area {
}

.comments-title,
.comment-reply-title {
	color: $comments-text;
}

.comments-title {
	text-align: center;
	margin-bottom: 50px;
}

.comment-form {
	label {
		@include screen-reader-text;
	}
	
	input, textarea {
		box-sizing: border-box;
		border: none;
	}

	input[type="text"],
	input[type="email"] {
		padding: 3px 30px;
		line-height: 40px;
		width: 100%;
	}

	textarea {
		width: 100%;
		padding: 30px;
		resize: vertical;
	}

	.form-submit {
		@include clearfix;
	
		input[type="submit"] {
			float: right;
		}
	}
}

.comment-form-author,
.comment-form-email {
	float: left;
	width: 50%;
}

.comment-form-author {
	padding-right: 15px;
}

.comment-form-email {
	padding-left: 15px;
}

.comment-awaiting-moderation {
	font-style: italic;
}

.comment-list {
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
	
	ul.children {
		list-style: none;
		margin-left: 100px;
	}
}

.comment-body {
	margin: 0 0 60px 100px;
}

.comment-meta {
	margin-bottom: $vspacing-down3;
}

.comment cite {
	font-style: normal;
}

li.comment {
	@include clearfix;

	.comment-image {
		float: left;
		margin-left: -100px;
		
		img {
			border-radius: 3px;
		}
	}

	.comment-author a {
		font-style: normal;
		color: $comments-text;
	}

	.comment-content {
		font-size: #{$modular-scale-base}em;
	}

	.comment-metadata {
		@include smaller-text;
	}

	.reply {
		@include smaller-text;
		float: right;
		text-transform: lowercase;
	}
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {}

@media screen and (max-width: 450px) {
	.comments-title {
		margin-bottom: 20px;
	}
}
