/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 $vspacing;
}
.byline,
.updated {
	display: none;
}
.single, .group-blog {
	.byline {
		display: inline;
	}
}
.page-content,
.entry-content,
.entry-summary {
	margin: $vspacing 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 $vspacing;
}

.entry-title,
.entry-summary,
.entry-content {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.entry-image {
	margin: -60px -80px 0;
	text-align: center;

	img {
		width: 100%;
		height: auto;
	}
	
	&+ .entry-header .entry-title {
		margin-top: 50px;
	}

	@media screen and (max-width: 600px) {
		margin: -30px -40px 0
	}
}

.entry-meta {
	@include smaller-text;
	text-transform: lowercase;
	color: $secondary-text;
}
