/* =Content
----------------------------------------------- */
#content {
	background-color: $content-bg;
}

.page-header {
	background: mix( $secondary-text, $content-bg, 25% );
}

.byline,
.updated {
	display: none;
}

.single, .group-blog {
	.byline {
		display: inline;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: $vspacing 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $vspacing;
}

.entry-image {
	margin: -60px -80px 0;
	text-align: center;

	img {
		width: 100%;
		height: auto;
	}

	&+ .entry-header .entry-title {
		margin-top: 50px;
	}

	@media screen and (max-width: 600px) {
		margin: -30px -40px 0
	}

	@media screen and (max-width: 450px) {
		margin: -30px -20px 0
	}
}

.entry-meta {
	@include smaller-text;
	text-transform: lowercase;
	color: $secondary-text;
}

.error-404 {
	.search-form {
		input[type="search"] {
			width: 100%;
			padding: 10px;
		}
	}
}

/* =Sticky Posts
----------------------------------------------- */

.sticky {
	background: mix( $secondary-text, $content-bg, 25% );

	.read-more {
		color: darken($secondary-text, 10%);

		&:hover, &:active, &:focus {
			color: darken($secondary-text, 30%);
		}
	}
}
