
//-- General forms
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	@include box-sizing( border-box );

	&:focus {
		color: $body-text;
		border-color: $body-text;
		outline: none;
	}
}

//-- Post Password form
.post-password-form {
	label {
		line-height: 40px;
		color: $body-text;
		font-weight: normal;
	}

	input[type="password"] {
		padding: 7px 3px 10px;
	}
}

@media screen and (max-width: 550px) {
	.post-password-form {
		label {
			display: block;
			margin-bottom: 10px;
		}

		input[type="password"],
		input[type="submit"] {
			width: 100%;
			@include font-size( 16 );
		}
	}
}

//-- Jetpack Subscription form
#subscribe-email input {
	padding: 10px;
}
