/* =Global
----------------------------------------------- */

/* border box all the things */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: $vspacing;
}
.alignright {
	display: inline;
	float: right;
	margin-left: $vspacing;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	@include screen-reader-text;
}

/* Clearing */
.clear,
[class*="content"],
[class*="site"] {
	@include clearfix;
}

/* Read More */
.read-more {
	display: block;
	margin: 30px 0 80px;
	text-align: center;
	color: $secondary-text;

	&:hover {
		color: darken($secondary-text, 20%);
	}

	&:before {
		content: '• • • ';
	}

	&:after {
		content: ' • • •';
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	@include box-sizing( border-box );

	&:focus {
		color: $body-text;
		border-color: $body-text;
		outline: none;
	}
}
