/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-handle {
	text-align: center;
}

#infinite-handle span {
	text-align: center;
	border: none;
	margin-top: 30px;
	padding: 15px 30px;
	background-color: $navigation-bg;
	border-radius: 3px;
	color: white;

	&:hover {
		color: #7d98b3;
	}
}

#infinite-footer .container {
	padding: 5px 0;
	background-color: $body-bg;
	border: none;

	.blog-credits,
	.blog-info {
		color: white;
	}

	a {
		color: white;

		&:hover,
		&:active,
		&:focus {
			color: white;
		}
	}
}
