body {
	background: $body-bg url('img/bg.jpg') repeat;
	
	@media 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
	    background-image: url('img/bg-2x.jpg');
	    background-size: 500px 500px;
	}
}

.container {
	margin: 0 auto;
	max-width: 900px;
}

#site-navigation {
	padding: 0;
	@include smaller-text;
	background-color: $navigation-bg;
	
	.search-form {
		float: right;
		display: inline-block;
		margin-top: 30px;
	}
	
	.search-field {
		padding: 5px 5px 5px 10px;
		font-size: 14px;
		font-size: 1.4rem;
		color: white;
		background-color: darken($navigation-bg, 7%);
		border: none;
	}
	
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		color: lighten($navigation-bg, 15%);
		text-transform: lowercase;
	}
	input:-moz-placeholder, textarea:-moz-placeholder {
		color: lighten($navigation-bg, 15%);
		text-transform: lowercase;
	}
}

#masthead {
	margin: 80px 0;
	text-align: center;
	
	h1.site-title {
		font-size: 100px;
		font-size: 10rem;
		
		a {
			color: white;
			text-decoration: none;
		}
	}
	
	h2.site-description {
		color: white;
		font-size: 20px;
		font-size: 2rem;	
	}
}

#content,
#secondary,
#comments {
	padding: 60px 80px;
}

#content {
	background-color: $content-bg;	
	
	.entry-title {
		font-size: 36px;
		font-size: 3.6rem;
		text-align: center;
		text-decoration: none;
	}
}

#secondary {

	.widget {
		width: 45%;
		@include smaller-text;
		line-height: 1.6;
		
		ul {
			margin: 0;
		}
		
		ul li {
			margin-bottom: 5px;
		}
		
		&:nth-of-type(odd) {
			float: left;
			clear: left;
		}
		
		&:nth-of-type(even) {
			float: right;
			clear: right;
		}
	}

	.widget-title {
		margin-bottom: 20px;
		font-size: 20px;
		font-size: 2rem;
	}
}

#secondary,
#comments {
	background-color: $secondary-bg;
}

#comments {
	p {
		@include smaller-text;
	}
}

#colophon {
	margin: 60px 0;
	@include smaller-text;
	text-align: center;
	color: white;
	opacity: .5;
	@include transition(opacity 0.15s ease-in-out);
	
	&:hover {
		opacity: 1;
	}
	
	a {
		color: white;
		border-bottom: 2px solid;
	}
}