body {
	background-color: $body-bg;
}

.container {
	margin: 0 auto;
	max-width: 900px;
}

#site-navigation {
	padding: 0;
	@include smaller-text;
	background-color: $navigation-bg;
}

#masthead {
	margin: 80px 0;
	text-align: center;
}

#content,
#secondary,
#comments {
	padding: 60px 80px;
}

.hentry {
	margin: 0 0 80px;
}
.hentry.sticky,
.page-header {
	margin: -60px -80px 60px;
	padding: 60px 80px 40px;
}

#secondary {
	overflow: hidden;

	.one-column {
		float: left;
		width: 50%;
		@include box-sizing( border-box );

		&:first-child {
			padding-right: 20px;
		}

		&:last-child {
			padding-left: 20px;
		}
	}

	.widget {
		@include smaller-text;
		line-height: 1.6;

		ul {
			margin: 0 0 0 20px;
		}

		ul li {
			margin-bottom: 5px;
		}
	}

	.widget-title {
		margin-bottom: 20px;
		@include font-size( 20 );
	}
}

#secondary,
#comments {
	background-color: $secondary-bg;
}

#colophon {
	margin: 60px 0;
	padding: 0 20px;
	@include smaller-text;
	text-align: center;
	color: white;
	opacity: .5;
	@include transition( opacity 0.15s ease-in-out );

	&:hover {
		opacity: 1;
	}

	a {
		color: white;
		border-bottom: 2px solid;
	}
}

@media screen and (max-width: 950px) {
	.main-navigation .container,
	#masthead,
	.site-content,
	#comments,
	.content-nav.container,
	#secondary {
		margin-left: 25px;
		margin-right: 25px;
	}

}

@media screen and (max-width: 600px) {
	#site-navigation {
		.search-form {
			float: none;
			display: block;
		}

		.search-field {
			@include box-sizing( border-box );
			width: 100%;
		}
	}

	#content, #secondary, #comments {
		padding: 30px 40px;
	}

	.hentry {
		margin-bottom: 60px;

		.single &,
		.page & {
			margin-bottom: 0;
		}
	}

	.hentry.sticky,
	.page-header {
		margin: -30px -40px 30px;
		padding: 30px 40px;
	}

	#secondary .one-column {
		float: none;
		padding: 0 !important;
		width: 100%;
	}
}

@media screen and (max-width: 450px) {
	#masthead {
		margin: 10px 10px 30px;
	}

	#content, #secondary, #comments {
		padding: 30px 20px;
	}

	.hentry.sticky,
	.page-header {
		margin: -30px -20px 30px;
		padding: 30px 20px;
	}

	#masthead,
	.site-content,
	#comments,
	.content-nav.container,
	#secondary {
		margin-left: 10px;
		margin-right: 10px;
	}
}
