body {
	background: $body-bg /*url('img/bg.jpg') repeat*/;
	
	/*@media 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
	    background-image: url('img/bg-2x.jpg');
	}*/
}

.container {
	margin: 0 auto;
	max-width: 900px;
}

#site-navigation {
	padding: 30px 0;
	font-size: 16px;
	font-size: 1.6rem;
	background-color: $navigation-bg;
	
	a {
		color: white;
	}
	
	ul li {
		margin-right: 40px;
	}
	ul li:last-of-type {
		margin-right: 0;
	}
}

#masthead {
	margin: 100px 0;
	text-align: center;
	
	h1.site-title {
		font-size: 100px;
		font-size: 10rem;
		
		a {
			color: white;
			text-decoration: none;
		}
	}
	
	h2.site-description {
		color: white;	
	}
}

#content {
	padding: 60px 80px;
	background-color: $content-bg;	
	
	.entry-title {
		font-size: 36px;
		font-size: 3.6rem;
		text-align: center;
		text-decoration: none;
	}
}

#colophon {
	margin: 60px 0;
	font-size: 16px;
	font-size: 1.6rem;
	text-align: center;
	color: white;
	
	a {
		color: white;
		border-bottom: 2px solid;
	}
}