/* =Media
----------------------------------------------- */

.page-content,
.entry-content,
.comment-content {
	img.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
	}
}
// Image Captions
.wp-caption {
	margin-bottom: $vspacing;
	padding: 5px;
	max-width: 100%;
	@include font-size( 16 );
	background-color: $secondary-bg;
	border: none;
	border-radius: 3px;

	img[class*="wp-image-"] {
		display: block;
		margin: 1.2% auto 0;
		max-width: 98%;
	}
	.wp-caption-text {
		text-align: center;
		margin: 0.8075em 0;
	}
}

// Galleries
$gallery-spacing: $vspacing / 2;

.gallery {
	@include clearfix();
	margin-bottom: $gallery-spacing;
	text-align: center;
}

.gallery-item {
	display: inline-block;
	margin: 0 $gallery-spacing $gallery-spacing 0;
	overflow: hidden;
	position: relative;
}

.gallery-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 6px 8px;
	width: 100%;
	max-height: 50%;
	font-size: 12px;
	line-height: 1.5;
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	color: #fff;
	opacity: 0;
	text-align: left;
	transition: all 0.1s ease-in;

	&:before {
		content: "";
		height: 100%;
		min-height: 49px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.gallery-item:hover & {
		opacity: 1;
	}
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

@mixin gallery_column ( $margin: 2, $num: 4 ){
	.gallery-columns-#{$num} .gallery-item {
		max-width: ( 100% / $num ) - 2;
		max-width: -webkit-calc( #{100%/$num} - #{$margin} );
		max-width:         calc( #{100%/$num} - #{$margin} );
	}
	.gallery-columns-#{$num} .gallery-item:nth-of-type(#{$num}n) {
		margin-right: 0;
	}
}

/* Fluid Gallery Columns
   works well if you remove the default gallery styling
   by adding the following to your functions.php
   add_filter( 'use_default_gallery_style', '__return_false' );
*/

@for $i from 2 through 9 {
	@include gallery_column( $gallery-spacing, $i );
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}