/* =Menu
----------------------------------------------- */

.main-navigation {
	display: block;
	margin: 0;
	overflow: visible;
	width: 100%;

	// first level
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			float: left;
			position: relative;
			margin-right: 20px;
			
			&:last-of-type {
				margin-right: 0;
			}

			a {
				display: block;
				padding: 30px 20px 30px 0;
				color: white;
				text-decoration: none;
			}

			// link hover
			&:hover {
				> a { color: lighten($navigation-bg, 50%); }
				> ul { display: block; }
			}

		}

		li.current_page_item, li.current-menu-item {
			a { color: lighten($navigation-bg, 50%); }
		}

		// second level
		ul {
			display: none;
			float: left;
			position: absolute;
			top: 84px;
			left: 0;
			z-index: 99999;
			background-color: darken($navigation-bg, 5%);
			@include divet( top, darken($navigation-bg, 5%) );

			&:hover {
				> a {};
			}

			li {
				padding: 10px;
				margin: 0;
				a {
					padding: 0;
					width: 200px;
					&:hover {};
				}
			}

			// third level
			ul {
				left: 100%;
				top: 0;
				
				background-color: darken($navigation-bg, 10%);
				@include divet( left, darken($navigation-bg, 10%) );
			}

		}
	}

}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  .main-navigation ul {
    display: none;
  }
}