/* =Menu
----------------------------------------------- */

.main-navigation {
	display: block;
	margin: 0;
	overflow: visible;
	width: 100%;

	// first level
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			position: relative;
			display: inline-block;
			margin-right: 20px;

			&:last-of-type {
				margin-right: 0;
			}

			a {
				display: block;
				padding: 30px 20px 30px 0;
				color: white;
				text-decoration: none;
			}

			// link hover
			&:hover {
				> a { color: lighten($navigation-bg, 50%); }
			}

			&:hover > ul,
			&.focus > ul,
			a:focus + ul {
				@include show-dropdown;
			}

		}

		li.current_page_item, li.current-menu-item {
			a { color: lighten($navigation-bg, 50%); }
		}
	}

	// second level
	ul ul {
		float: left;
		position: absolute;
		top: 84px;
		left: 0;
		z-index: 10;
		@include hidden-dropdown;
		background-color: darken($navigation-bg, 5%);
		@include divet( top, darken($navigation-bg, 5%) );

		li {
			padding: 10px;
			margin: 0;

			a {
				padding: 0;
				width: 200px;
			}
		}
	}

	// third level
	ul ul ul {
		left: 100%;
		top: 0;

		background-color: darken($navigation-bg, 10%);
		@include divet( left, darken($navigation-bg, 10%) );

		// And beyond...
		ul {
			position: relative;
			left: 0;
			top: 0;
			margin-top: 10px;
			margin-bottom: -10px;
			@include show-dropdown;
		}
	}

}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.menu-toggle {
		margin-top: 25px;
	}
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;

		li {
			float: none;
			display: block;
			margin: 0;

			a { padding: 10px 0; }

			ul {
				float: none;
				display: block;
				@include show-dropdown;
				position: relative;
				top: 0;
				left: 0;
				z-index: 0;
				margin-top: 8px;

				ul {
					margin-top: 15px;
					@include divet( top, darken($navigation-bg, 10%) );
				}
			}
		}
	}
}
