@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

body,
button,
input,
select,
textarea {
	color: $body-text;
	font-family: $base-font;
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.6;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	font-family: $header-font;
	clear: both;
}
h1,h2,h3 {
	color: $header-text;	
}
h4,h5,h6 {
	color: $subheader-text;
}
h1 { 
	font-size: #{$modular-scale-up2}em;
}
h2 { 
	font-size: #{$modular-scale-up1}em;
	text-transform: none !important;
}
h3 { 
	margin-bottom: $vspacing-down3;
	font-size: #{$modular-scale-base}em;
}
h4 {	
	font-size: #{$modular-scale-down1}em;
	text-transform: uppercase;
}
h5 { 
	font-size: #{$modular-scale-down1}em;
	text-transform: lowercase;
}	
h6 { 
	font-size: #{$modular-scale-down2}em;
}	
.site-title {
	font-family: $site-title;
}
.entry-title,
.entry-title a,
.widget-title {
	color: $header-text;
}
.entry-title a:hover {
	color: darken($header-text, 10%);
}
.page-title {
	margin-bottom: $vspacing-down1;
	color: $body-text;
	text-align: center;	
}

hr {
	background-text: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: $vspacing;
}

/* Text elements */
p {
	margin-bottom: $vspacing-down1;
}
ul, ol {
	margin: 0 0 $vspacing 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $vspacing-down1;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 $vspacing-down1 $vspacing-down1;
}
b, strong {
	font-weight: bold;
	color: #1d2936;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0;
	padding: 0 $vspacing-down1;
	border-left: 10px solid $accent-color;
}
address {
	margin: 0 0 $vspacing;
}
pre {
	background: #eee;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 20px 'Ubuntu Mono', monospace;
	font-size: 2rem;
}
abbr, acronym {
	border-bottom: 1px dotted $border-color;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 $vspacing;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 3px;
	background: $accent-text;
	color: white;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1;
	text-transform: lowercase;
	padding: 15px 30px;
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-text: darken($accent-text, 5%);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background-text: darken($accent-text, 10%);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing: 	content-box;
	box-sizing: 		content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 5px 10px;
	@include smaller-text;
	color: #666;
	border: 1px solid $border-color;
	border-radius: 3px;
	outline-text: $body-text;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}
label {
	font-weight: bold;
	color: $subheader-text;
}

/* Links */
a {
	color: $link-text;
	text-decoration: none;
	@include hoverActiveFocus(color, darken(#1abc9c, 10%));
	@include transition(color 0.15s ease-in-out);
}