body,
button,
input,
select,
textarea {
	color: $body-text;
	font-family: $base-font;
	@include font-size( 20 );
	line-height: 1.6;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	font-family: $header-font;
	clear: both;
}
h1,h2,h3 {
	color: $header-text;
}
h4,h5,h6 {
	color: $subheader-text;
}
h1 {
	@include font-size( $modular-scale-up2 );
}
h2 {
	@include font-size( $modular-scale-up1 );
	text-transform: none !important;
}
h3 {
	margin-bottom: $vspacing-down3;
	@include font-size( $modular-scale-base );
}
h4 {
	@include font-size( $modular-scale-down1 );
	text-transform: uppercase;
}
h5 {
	@include font-size( $modular-scale-down1 );
	text-transform: lowercase;
}
h6 {
	@include font-size( $modular-scale-down2 );
}
.site-title {
	font-family: $site-title;
	@include font-size( 70 );
	line-height: 120px;

	a {
		color: white;
		text-decoration: none;
		@include transition(opacity 0.15s ease-in-out);

		&:hover, &:focus {
			color: white;
			opacity: .5;
		}
	}
}
.site-description {
	margin-top: 1em;
	color: white;
	@include font-size( 20 );
}
.entry-title,
.entry-title a,
.widget-title {
	color: $header-text;
}
.entry-title {
	@include font-size( 36 );
	text-align: center;
	text-decoration: none;

	a:hover {
		color: darken($header-text, 10%);
	}
}
.page-title {
	margin-bottom: $vspacing-down1;
	color: $body-text;
	text-align: center;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: $vspacing;
}

/* Text elements */
p {
	margin-bottom: $vspacing-down1;
}
ul, ol {
	margin: 0 0 $vspacing 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $vspacing-down1;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 $vspacing-down1 $vspacing-down1;
}
b, strong {
	font-weight: bold;
	color: darken($body-text, 30%);
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0;
	padding: 0 $vspacing-down1;
	border-left: 10px solid $accent-color;
}
q {
	quotes: '"' '"';
	&:before { content: open-quote }
	&:after { content: close-quote }
}
cite {
	color: darken($body-text, 30%);
}
address {
	margin: 0 0 $vspacing;
}
pre {
	background: #eee;
	font-family: 'Ubuntu Mono', monospace;
	@include font-size( 20 );
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 20px 'Ubuntu Mono', monospace;
	@include font-size( 20 );
}
abbr, acronym {
	border-bottom: 1px dotted $border-color;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 $vspacing;
	width: 100%;
}
th {
	font-weight: bold;
}
.site-content {
	$table-color: $link-text;

	th, td {
		padding: 5px 10px;
	}

	th {
		font-weight: normal;
		color: white;
		background: desaturate( lighten( $table-color, 20% ), 10%);
	}

	td {
		background: lighten( $table-color, 50% );
	}

	tr:nth-of-type(odd) td {
		background: lighten( $table-color, 45% );
	}
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

/* Links */
a {
	color: $link-text;
	text-decoration: none;
	@include hoverActiveFocus(color, darken($link-text, 10%));
	@include transition(color 0.15s ease-in-out);
}

@media screen and (max-width: 450px) {
	html {
		font-size: 80%;
	}

	.site-title {
		min-height: 0;
		@include font-size( 80 );
	}

	.site-description {
		@include font-size( 25 );
	}
}
