/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 $vspacing;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search {
	.search-field {
		padding: 3px 30px;
		line-height: 40px;
		width: 100%;
	}

	.search-submit {
		display: none;
	}
}
