@mixin clearfix() {

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin hoverActiveFocus($property, $value) {

	&:hover,
	&:active,
	&:focus {
		#{$property}: $value;
	}
}

@mixin font-size( $size-value ) {
	$rem-value: ( $size-value / 16 );
	$px-value: $size-value;
	font-size: #{$px-value}px;
	font-size: #{$rem-value}rem;
}

@mixin smaller-text() {
	@include font-size( 16 );
}

@mixin divet( $direction, $color ) {
	background-color: $color;

	&:after {
		content: "";
		display: block; /* reduce the damage in FF3.0 */
		position: absolute;
		width: 0;
		border-style: solid;
		border-color: transparent $color;
	}

	@if $direction == left {

		&:after {
			top: 12px;
			left: -10px;
			right: auto;
			border-width: 10px 10px 10px 0;
		}
	} @else if $direction == right {

		&:after {
			top: 12px;
			left: auto;
			right: -10px;
			border-width: 10px 0 10px 10px;
		}
	} @else if $direction == top {

		&:after {
			top: -10px;
			right: auto;
			left: 20px;
			border-color: $color transparent;
			border-width: 0 10px 10px 10px;
		}
	}
}

// Text meant only for screen readers without visible focus.
@mixin screen-reader-text-nofocus {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

// Text meant only for screen readers
@mixin screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;

	&:hover,
	&:active,
	&:focus {
		clip: auto !important;
		clip-path: none;
		display: block;
		height: auto;
		right: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar */
	}
}


@mixin hidden-dropdown() {
	text-indent: -9999em;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
}

@mixin show-dropdown() {
	text-indent: 0;
	clip: auto;
	width: auto;
}

@mixin button( $background-color: $accent-color, $text-color: white ) {
	padding: $vspacing-down2 $vspacing-down1;
	border-radius: 3px;
	background: $background-color;
	color: $text-color;
	text-align: center;

	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
	}
}
